<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit game title</title>
</head>
<body>
    <div class="nav-bar">
        <h1>Game Review</h1>
        <a href="/home">Home Page</a>
        <a href="/logout">
            <Button>Logout</Button>
        </a>
    </div>
    
    <h3>A New Game to be Reviewed</h3>

    <form>
        <label for="name">Game Title</label>
        <input type="text" name="name" placeholder="Game Title">
        <label for="genre">Genre</label>
        <input type="text" name="genre" placeholder="Genre">
        <label for="description">Description</label>
        <textarea name="description" id="description" placeholder="Tell us about the game"></textarea>
        <input type="file" name="image" id="game_img">
        <button type="submit" value="submit">Submit</button>
    </form>
</body>
</html>