<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Review</title>
</head>
<body>
    <div class="nav-bar">
        <h1>Game Review</h1>
        <a href="/view/games/{{dev.id}}">Your Games</a>
        <a href="/add/game">Add Game</a>
        <a href="/logout">
            <Button>Logout</Button>
        </a>
    </div>

    {% for game in games %}
    <div>
        <Img src="{{game.image}}">
        <a href="/view/review/{{game.id}}">
            {{game.name}}
        </a>
        

    </div>
    {% endfor %}
</body>
</html>