<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Game Review</h1>
    <form action="/register" method="POST">
        <h3>Sign Up</h3>
        {% with messages = get_flashed_messages(category_filter=['register_error']) %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="company" placeholder="Company Name">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="confirm_password" placeholder="Confirm Password">
        <button type="submit" value="submit">Submit</button>
    </form>
    <form action="/login" method="POST">
        <h3>Login</h3>
        {% with messages = get_flashed_messages(category_filter=['login_error']) %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" value="submit">Sign In</button>
    </form>
</body>
</html>