<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game title</title>
</head>
<body>
    <div class="nav-bar">
        <h1>Game Review</h1>
        <a href="/home">Home Page</a>
        <a href="/logout">
            <Button>Logout</Button>
        </a>
    </div>

    <div>
        <h3>{{game.name}}</h3>
        <img src="{{game.image}}" alt="image of {{game.name}}">
        <p>{{game.description}}</p>
        <!--Average Ratings here-->
    </div>

    <div>
        <h3>Add a Review</h3>
        <form>
            <textarea></textarea>
            <!--stars for input of rating here-->
            <input type="radio">
            <button type="submit" value="submit">Submit</button>
        </form>
    </div>
    
    <div>
        <h3>Reviews</h3>
        <!--Loop all reviews added-->
    </div>
</body>
</html>