<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Games</title>
</head>
<body>
    <div class="nav-bar">
        <h1>Game Review</h1>
        <a href="/home">Home Page</a>
        <a href="/logout">
            <Button>Logout</Button>
        </a>
    </div>
    <h3>Here are the games you added</h3>

    {% for game in games %}
    <div>
        <Img src="{{game.image}}">
        <a href="/view/review/{{game.id}}">
            {{game.name}}
        </a>
        <a href="/edit/game/{{game.id}}">
            Edit
        </a>
        <a href="/delete/game/{{game.id}}">
            Delete
        </a>
    </div>
    {% endfor %}
</body>
</html>